<a href="https://colab.research.google.com/github/Deomyeon/Python-Tutorial/blob/main/Python_Tutorial_Deomyeon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **파이썬의 기초를 공부해보자!**

# 변수(Variable)

파이썬의 변수는 다른 언어에서와 다른 점이 조금 있습니다. 때문에 먼저 숙지하도록 하겠습니다.

파이썬에서 변수는 자료형을 이용해 선언하지 않습니다. 정의 하는 값에 따라 변수의 자료형이 정해집니다.

# 1. print() 함수

print() 함수는 입력된 매개변수의 값을 콘솔에 출력해줍니다.

In [5]:
str = "Hello World!"
print(str)

Hello World!

또한, 매개변수를 여럿 넣을 경우엔 한 칸씩 띄어 출력됩니다.

In [6]:
str1 = "Hello"
str2 = "World!"
print(str1, str2)

Hello World!

파이썬은 print() 함수를 사용하지 않더라도 자료를 출력 할 수가 있습니다.

In [7]:
"Hello World!"

'Hello World!'

# 1.1 type() 함수

type() 함수는 입력된 매개변수의 자료형을 출력하는 함수입니다.

In [9]:
type(10)

int

In [10]:
type("Hello World!")

str

type() 함수는 한 개의 매개변수만을 입력해야 합니다.

# 1.2. input() 함수

input() 함수는 콘솔을 통해 문자열을 입력받는 함수입니다.

In [3]:
str = input()
print(str)

fdsgsd
fdsgsd

매개변수로 출력 할 내용을 입력하는 것도 가능합니다.

In [ ]:
str = input("입력하세요. ")
print(str)

# 2. 문자열(String)

다른 언어와 마찬가지로 문자열 변수는 배열로 연결되기 때문에 문자열[] 형식을 이용할 수 있습니다.

In [14]:
print("Hello World!"[0])

H

문자열[a:b] 파이썬에서 볼 수 있는 다소 특이한 연산자 입니다. a에서 b까지의 문자열을 반환합니다.

(a > 0)&&(b > 0)&&(a < b) 인 경우

In [32]:
print("Hello World!"[0:4])

Hell

(a > 0)&&(b > 0)&&((a == b)||(a > b)) 인 경우

In [33]:
print("Hello World!"[0:0])

In [36]:
print("Hello World!"[4:0])

a, b의 값이 음수인 경우엔 문자열의 뒤에서 부터 읽어옵니다.

(a < 0)&&(b < 0)&&((a > b)(a == b)) 인 경우

In [40]:
print("Hello World!"[-1:-4])

In [41]:
print("Hello World!"[-1:-1])

(a < 0)&&(b < 0)&&(a < b) 인 경우

In [42]:
print("Hello World!"[-4:-1])

rld

(a||b) ==  　(null)

In [47]:
print("Hello World!"[4:])

o World!

In [49]:
print("Hello World!"[:6])

Hello

(a&&b) ==  　(null)

In [48]:
print("Hello World!"[:])

Hello World!

# 2.1 len() 함수

len() 함수는 입력된 매개변수(문자열)의 길이를 반환합니다.

In [44]:
print(len("Hello World!"))

12

물론 print() 함수를 사용하지 않더라도 표현식으로서 동작합니다.

In [45]:
len("Hello World!")

12

# 2.2 str형 메소드

**2.2.2 str.format() 함수**

str.format() 함수는 문자열 내의 {}(중괄호)에 매개변수의 값을 삽입합니다.

In [15]:
"안녕하세요 저는 {} 입니다.".format("개발자")

'안녕하세요 저는 개발자 입니다.'

문자열 내의 {}(중괄호)의 개수가 매개변수의 개수 보다 많으면 오류가 발생합니다.

In [17]:
name = input("당신의 이름은? ")
age = input("당신의 나이는? ")
print("안녕하세요. 저는 {}살 {} 입니다.".format(age, name))

당신의 이름은? 오리
당신의 나이는? 40
안녕하세요. 저는 40살 오리 입니다.

**2.2.3 str.upper() 함수와 str.lower() 함수**

str.upper() 함수는 문자열의 영문자를 대문자로 변환해줍니다.

In [19]:
"Hello World!".upper()

'HELLO WORLD!'

str.lower() 함수는 문자열의 영문자를 대문자로 변환해줍니다.

In [20]:
"Hello World!".lower()

'hello world!'

**2.2.4 str.strip() 함수**

str.strip() 함수는 매개변수로 입력된 문자열을 왼쪽이나 오른쪽 부터 제거합니다.

매개변수를 입력하지 않으면 공백이 소멸됩니다.

In [43]:
"   Hello World!  ".strip()

'Hello World!'

In [48]:
str = input("삭제 할 문자열을 입력하세요. ")
"안녕하세요 반가워요.".strip(str)

삭제 할 문자열을 입력하세요. 안녕

'하세요 반가워요.'

str.lstrip() 함수는 매개변수로 입력된 문자열을 왼쪽에서 부터 제거합니다.

In [51]:
"   Hello World!  ".lstrip()

'Hello World!  '

str.rstrip() 함수는 매개변수로 입력된 문자열을 오른쪽에서 부터 제거합니다.

In [50]:
"   Hello World!  ".rstrip()

'   Hello World!'

**2.2.5 str.find() 함수**

str.find() 함수는 문자열에서 매개변수로 입력된 문자열이 시작된 위치를 왼쪽 부터 찾아 반환합니다.

In [53]:
"Hello World!".find("Wor")

6

str.rfind() 함수는 문자열에서 매개변수로 입력된 문자열이 시작된 위치를 오른쪽 부터 찾아 반환합니다.

In [54]:
"Hello World!".rfind("Wor")

6

**2.2.6 str.split() 함수**

str.split() 함수는 문자열을 매개변수로 입력된 문자열로 잘라 배열로 반환합니다.

In [56]:
"아 치킨 먹고 싶다.".split(" ")

['아', '치킨', '먹고', '싶다.']

In [57]:
"Hello World!".split("o")

['Hell', ' W', 'rld!']

# 2.3 in 연산자

in 연산자는 a in b 처럼 사용하며, a가 b에 있는 가? 를 논리 자료형으로 반환합니다.

In [55]:
"안녕" in "안녕하세요"

True

# 3. 수(Number)

파이썬에서는 통계를 위해서 인지 실수 뿐 만 아니라 허수 또한, 지원합니다.

보통의 언어에서 지원하는 범위는 유리수까지 입니다. 때문에 라이브러리를 통해 실수 범위까지 사용합니다.

파이썬의 경우엔 자체적으로 허수까지 지원하는 장점이 있습니다.

대신 파이썬은 long이나 short, double 같은 자료형은 지원하지 않습니다.

**실수(Real Number)**

1. 정수 (int)

In [ ]:
print(49)

In [55]:
type(49)

int

2. 유리수 (float)

In [54]:
print(43.56)

43.56

In [56]:
type(43.56)

float

**허수(Image Number)**

3. 허수 (image[complex])

허수는 복소수로서 표현됩니다.

In [59]:
print(24j)

24j

In [58]:
type(24j)

complex

4. 복소수 (complex)

In [60]:
print(32 + 5j)

(32+5j)

In [61]:
type(32 + 5j)

complex

# 3.1 자료형 변환 함수

**3.1.1 int() 함수**

int() 함수는 매개변수로 입력된 실수 값을 정수값으로 변환하여 반환합니다.

In [9]:
int(4.25)

4

다음과 같이 허수를 변환하려 할 시, 복소수형을 정수형으로 변환 할 수 없다는 오류가 발생합니다.

In [11]:
int(42 + 3j)

TypeError: ignored

**3.1.2 float() 함수**

float() 함수는 매개변수로 입력된 실수값을 부동소수점값으로 변환하여 반환합니다.

In [12]:
float(245)

245.0

다음과 같이 허수를 변환하려 할 시, 복소수형을 실수형으로 변환 할 수 없다는 오류가 발생합니다.

In [13]:
float(34 + 56j)

TypeError: ignored

**3.1.3 complex() 함수**

complex() 함수는 매개변수로 입력된 실수값을 복소수값으로 변환하여 반환합니다.

In [14]:
complex(254)

(254+0j)

# 3.2 제곱 연산자 **

a ** b, a의 b승을 반환합니다.

In [64]:
print (2**3)

8

# 3.3 몫과 나머지

프로그래밍 언어에서 나누기는 / 연산자를 통해 이루어 집니다.

/ 연산자는 나머지가 0 일 때의 몫입니다.

In [65]:
print(7 / 3)

2.3333333333333335

파이썬에서는 나머지가 존재하는 상태의 몫을 구할 수 있습니다.

그 방법이 // 연산자를 사용하는 것 입니다.

In [66]:
print(7 // 3)

2

우리는 나머지 또한, 필요할 것입니다. 나머지는 % 연산자를 이용하여 구할 수 있습니다.

In [67]:
print(7 % 3)

1

# 4. 논리(Boolean)

논리 자료형은 다른 언어와 마찬가지로 참과 거짓으로 나뉩니다. 다만, 파이썬에서 다른 점은 참은 True 거짓은 False 라는 것입니다.

In [60]:
# 10은 100과 같은가?
10 == 100

False

파이썬에서는 논리연산자가 다른 언어와 다릅니다.

다른 언어에서의 논리연산자는 키워드의 형태로 존재합니다.

*   !(논리부정) 연산자는 not 연산자
*   &&(논리곱) 연산자는 and 연산자
*   ||(논리합) 연산자는 or 연산자

In [64]:
True and not False

True

# 4.1 조건문

**4.1.1 if 조건문**

if 조건문은 조건이 만족할 시, 실행합니다.

In [67]:
if 100 == 100:
  print(True)

True

In [70]:
num = input("정수를 입력 해주세요. : ")
num = int(num)
if num > 0:
  print("양의 정수입니다.")
if num == 0:
  print("0 입니다.")
if num < 0:
  print("음의 정수입니다.")

정수를 입력 해주세요. : 6
양의 정수입니다.

**4.1.2 elif 조건문**

elif 조건문은 if 조건문과 연결되어 있으며, 앞의 조건문이 만족하지 않을 경우, 조건이 만족할 시, 실행합니다.

In [71]:
str = input("A 혹은 a를 입력해주세요. ")
if str == "A":
  print("대문자 A 입니다.")
elif str == "a":
  print("소문자 a 입니다.")

A 혹은 a를 입력해주세요. A
대문자 A 입니다.

**4.1.3 else 조건문**

else 조건문은 if 조건문과 연결되어 있으며, 앞의 모든 조건문도 만족하지 못할 시, 실행합니다.

In [72]:
str = input("A 혹은 a를 입력해주세요. ")
if str == "A":
  print("대문자 A 입니다.")
elif str == "a":
  print("소문자 a 입니다.")
else:
  print("InputError: 입력이 잘못 되었습니다.")

A 혹은 a를 입력해주세요. t
InputError: 입력이 잘못 되었습니다.

# 4.2 bool() 함수

bool() 함수는 매개변수로 입력된 None, 정수 혹은 컨테이너의 값에 따라 True 혹은 False를 반환합니다.

None 일 경우, False를 반환합니다.

In [76]:
bool(None)

False

정수는 0이 아닌 경우엔 True, 0인 경우엔 False를 반환합니다.

In [79]:
boolean = input("정수 입력 : ")
boolean = int(boolean)
bool(boolean)

정수 입력 : -3

True

조건으로서 다른 자료형을 사용할 때 bool() 함수를 사용하지 않을 경우, 컴파일러가 논리형으로 변환해줍니다.

In [83]:
not None and True

True

In [84]:
not 4 and True

False

# 5. 리스트(List)

list는 자료형의 배열입니다. [](대괄호)에 원소를 대입, 참조 할 수 있습니다.

파이썬에서는 서로 다른 자료형도 한 리스트에 저장 할 수 있습니다.

In [85]:
["치킨", "오리", 0, 1, True]

['치킨', '오리', 0, 1, True]

리스트 에 리스트를 대입하는 것 또한 가능합니다.

In [86]:
[[0, 1, 2], [3, 4, 5], 0, 1, True]

[[0, 1, 2], [3, 4, 5], 0, 1, True]

[](대괄호)에 정수를 입력하여 해당 정수 위치의 원소를 참조할 수 있습니다.

In [87]:
List = [["안", "녕"],["H", "I"],["ハ", "ロ"]]

print(List[0][0])

안

# 5.1 list형 메소드

**5.1.1 list.append() 함수**

**5.1.2 list.insert() 함수**

**5.1.3 list.extend() 함수**

**5.1.4 list.clear() 함수**

**5.1.5 list.remove() 함수**

**5.1.6 list.pop() 함수**

# 5.2 del 연산자

del 연산자는 del list[int] 처럼 사용 할 수 있으며, 리스트의 해당 정수 위치에 있는 원소를 제거합니다.